.Dropzone {
    height: 200px;
    width: 200px;
    background-color: #ffffff;
    border: 2px dashed rgb(99, 195, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.FileInput {
    display: none;
}

.Highlight {
    background: -webkit-linear-gradient(#63c3ff, #8088fd);
}

.Icon {
    height: 64px;
    width: 64px;
    margin-bottom: 32px;
}